* {
    margin: 0;
}

.navbar {
    width: 100wh;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-around;
}

.logo-home {
    border-radius: 50px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.flexbutton {
    display: flex;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#upload {
    width: 36px;
}

.mantine-1h9xgx9 {
    margin-top: 1%;
}
