/* * {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: rgb(201, 201, 201);
    display: flex;
}

.upload {
  width: 30px;
}

.mantine-1grzg0q {
    margin: 0;
    padding: 0;
}

.logo-home {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 33px;
    margin-right: 150px;
    border-radius: 50px;
}


.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 150px;
    border-radius: 50px;
}

.uppics {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50px;
} */
