.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 150px;
    border-radius: 50px;
}

.logo-home {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 33px;
    margin-right: 150px;
    border-radius: 50px;
}

// .mantine-16pg774 {
//     top: 66px;
// }

.navbar {
    width: 100%;
    background-color: $_white;
    display: flex;
}

.upload {
  width: 30px;
}

.uppics {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50px;
}

.upload-btn {
    position: fixed;
    bottom: 20px;
    width: ($w-6) + 10;
    height: ($w-6) + 10;
    right: 20px;
    border-radius: 50px;
    font-size: 130px;
    background-color: rgba($color: $_black, $alpha: .05);
   
    svg {
    
        path {
            fill: $_primary;
            transition: .5s ease-in-out;
        }
    }
    

    &:hover {
        background-color: rgba($color: $_primary, $alpha: .50);
        transition: .5s ease-in-out;
    }

    &:hover svg {
        
        path {
            fill: $_white;
            transition: .5s ease-in-out;
        }

    }

}

.wrapper-gallery {
    position: relative;
    top: 200px;
    //padding-left: 20px;

    // ::-webkit-scrollbar {
    //     display: none;
    // }
    .infinite-scroll-component {
        overflow-y: hidden !important;
        overflow-x: hidden !important;

    }

}


// const styles = {
//     container: {
//       margin: 0,
//       padding: 0,
//       width: "80%",
//       position: "absolute",
//       left: "50%",
//       transform: "translateX(-50%)",
//       top: "120px",
//     },
//   };

.inner-box{
    .img-box{
        text-align: center;
        //overflow: scroll;
        margin-bottom: 10px;
        img{
            width: 65%;
            border-radius: 20px;
        }
    }
    .info-external-box{
        margin-left: 20px;
        border-radius: 20px;

        
        h2{
            color: rgb(90, 90, 90);
        }
        .tag-box{
            padding: 5px;
            .tag-cont-style{
                overflow: scroll;
                height: 100px;

            span{
                background: $_primary;
                border-radius: $s-3;
                color: $_white;
                box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
                padding: $s-2 $s-3;
                margin: 8px;
                display: inline-block;
            }
            p{
                margin-left: 10px;
                background-color: $_primary;
                color: white;
                border-radius: 50px;
                font-size: 20px;
            }
        }
    }
}

}

.external-button-box{
    text-align: center;
    .button-action{
        background-color: $_red;
        border-radius: 50px;
        color: $_white;
        border: 0;
        width: 120px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.button-box-upload{
    text-align: center;
    button[name="upload-img"] {
        background: $_primary;
        border-radius: 50px;
    }
}
// .mantine-10fatya{
//     width: 35%;
//     border-radius: 20px;
//     top: -200px;
//     .container{
//         margin-bottom: 30px;
//         border-radius: 20px;
//         img{
//             width: 100%;
//             margin-top: 0;
//         }
//         div[role="presentation"]{
//             border-radius: 20px !important;
//             border: 2px solid rgb(181, 181, 181) !important;

//         }
     
//     }
// }

// .css-b62m3t-container{
//  margin-bottom: 10px;
//  border: 2px solid rgb(181, 181, 181);
 
// }
// .mantine-16pg774{
//     overflow-y: unset;
// }