.navbar {
    width: 100%;
    background-color: $_white;
    display: flex;
}

.upload {
  width: 30px;
}


.logo-home {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 33px;
    margin-right: 150px;
    border-radius: 50px;
}


.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 150px;
    border-radius: 50px;
}

.uppics {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50px;
}

.upload-btn {
    position: fixed;
    bottom:   20px;
    width: 100px;
    height: 100px;
    right: 92px;
    border-radius: 50px;
    font-size: 130px;
    background-color: rgba(151, 151, 151, 0.600);
   
    img {
       width: 60px;
    }

}

.upload-btn:hover {
    background-color: #dddcdc65;
}

.mantine-16pg774 {
    top: 66px;
}

