.navbar {
    width: 100%;
    background-color: $_white;
    display: flex;
}

.upload {
  width: 30px;
}

.logo-home {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 33px;
    margin-right: 150px;
    border-radius: 50px;
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 150px;
    border-radius: 50px;
}

.uppics {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50px;
}

.upload-btn {
    position: fixed;
    bottom: 20px;
    width: ($w-6) + 10;
    height: ($w-6) + 10;
    right: 20px;
    border-radius: 50px;
    font-size: 130px;
    background-color: rgba($color: $_black, $alpha: .05);
   
    g {
    
        path {
            fill: $_primary;
            transition: .5s ease-in-out;
        }
    }
    

    &:hover {
        background-color: rgba($color: $_primary, $alpha: .50);
        transition: .5s ease-in-out;
    }

    &:hover g {
        
        path {
            fill: $_white;
            transition: .5s ease-in-out;
        }

    }

}

.mantine-16pg774 {
    top: 66px;
}
