.button-action {
    margin-top: 10px;
}

.wrapper-groups{
    align-items: center;
    display: flex;
    margin: $m-auto;
    padding: .5rem $s-3;
    max-width: 1440px;
    justify-content: space-between;

    h4 {
        margin-left: $s-3;
        width: 20%;
    }

    .logo {
        width: 13%;

        img {
            width: ($w-6) * 2;
        }
    }

    .wrapper-info-groups {
        align-items: center;
        display: flex;
        gap: $s-3;
        text-align: end;

        a {
            display: inline-block;
        }

        button {
            background-color: #dddcdc;
            border-radius: 2rem;
            margin-left: $m-40;
            border: 0 ;
            cursor: pointer;
            padding: 2% 3%;

        }

        button:hover {
            box-shadow: 0 0 0 6px #f3f3f3;
        }
    }
}

.wrapper-na .log {
    margin-top: $m-10;
    margin-left: $m-10;
}

.icon {
    width: $w-5;

    img {
        width: $w-100;
    }
}