.back-box-groups{
    width: 80%;
    display: flex;
    align-items: baseline;
    margin: 10px auto;
    margin-top: 120px;

    .share-box-groups {
        span[name="back-groups"]{
            padding: 0.45rem 0.8rem;
            display: inline-block;
            background-color: #00D1E0;
            border: 0;
            border-radius: 2rem;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            text-align: center;
            p{
                font-size: 18px;
            }
        }
        p{
            font-size: 22px;
        }

        button{
            background-color: $_primary;
            border-radius: 50px;
            padding: 0.45rem 0.8rem;
            font-size: 16px;
            margin-left: 40px;
        }

        button:hover{
            background-color: $_primary;
        }

        box-shadow: 8px 8px 15px rgb(218, 218, 218);
        border-radius: 20px;
        padding: 1rem;
        border: 1px solid rgb(226, 226, 226);
        width: 100%;
        justify-content: space-between;
        display: flex;
        p,button{
            display: inline-block;
        }

    }
}
.folder-list-groups {

    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    h4{
        position: fixed;
        top: 20px;
        padding: 1% 25%;
    }
    
    li{

        img {
            width: 30px;
            height: 30px;
        }

        p {
            width: 250px;
            margin-left: 15px;
        }

        button {
            background-color: transparent;
            height: 40px;
        }

        button:hover {
            background-color: transparent;
        }

        display: flex;
        margin-left: 35px;     
    }
}


.simplegrid-detail-groups {
    display: flex;
    gap: 10px;
      row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1224px;
    padding: 1rem;
    row-gap: 1.5rem;
    justify-content: flex-start;

    .paper-details-groups {
        align-items: center;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
        display: flex;
        text-align: center;
        padding: 0.3rem;
        width: 290px;
        color: #00D1E0;
        justify-content: space-between;
        .box-flex-folder-groups{
            display: flex;
        .txt-folders-groups{
            margin-top: 4px;
            font-size: 16px;
            margin-left: 20px;
        }
        img {
            width: 40px;
            margin-left: 8px;
        }
    }
        button[name="button-detail-groups"]{
            width: 60px;
            display: block;
            margin: 1px;
            margin-left: 1px;
            background-color: transparent;
            border-radius: 50px;
            svg{
                cursor: pointer;
              }
              svg:hover{
                fill: $_dark-red;
                transition: .4s ease-in-out;
              }
        }
    }
}