//search by date

.calendar {

    .data-picker {
        border: none;
        border-bottom: 2px solid $_primary;
        outline: none;
        padding-block: 5px;
    }

    .data-picker:focus  {
        transition: .5s ease-in-out;
        transform-origin: left;
        border-bottom: 2px solid $_dark;
    }

    .react-datepicker__close-icon {
        padding-left: 0;
        right: -20px;
    }
}


//search tags

.search-tags {
    .css-1rhbuit-multiValue {
        width: auto!important;
    }

    .css-1rhbuit-multiValue {
        background: rgba($color: $_primary, $alpha: .25);
    }
}

.wrapper-search div:nth-child(1) div:nth-child(1) div:nth-child(1) {
    width: auto !important;
}