//main

// first part

header {
    background: $_bg;
    margin-top: 75px;
    height: 80vh;
    width: $w-100;
}

nav {
    background: $_white;
    box-shadow: 5px 0 5px rgba($color: $_black, $alpha: .25);
    position: fixed;
    top: 0;
    width: $w-100;
    z-index: 9999;

    //menu
    .wrapper-nav {
        align-items: center;
        display: flex;
        margin: $m-auto;
        padding: $s-2;
        width: $w_90;
    
        @mixin width {
            width: $w-50;
            margin: $s-2;
        }
    
        .logo {
            @include width;
    
            img {
                width: ($w-6) * 2;
            }
        }
    
        .signUp {
            @include width;
            text-align: end;
    
            span {
                background: $_primary;
                border-radius: 2rem;
                color: $_white;
                padding: $s-2 $s-3;
            }
        }

        //responsive
        @include media( "screen", ">minWidth", "<maxWidth", ){
            width: 100%;
        }
    }
}

article.review {
    display: grid;
    margin: $m-auto;
    grid-template-columns: 8% 30% 10% 45% auto;
    grid-template-rows: 90px 125px auto;
    width: 1024px;

    h1 {
        font-size: $f-4;
        grid-column: 2/3;
        grid-row: 1;
        padding-top: $p-2;
    }

    .wrapper-text {
        grid-column: 2/4;
        grid-row: 2;
    }

    .image {
        grid-column: 3/5;
        grid-row: 3;
        margin-top: $s-2;

        img {
            width: $w-100;
        }
    }

    .signUp {
        grid-column: 2/3;
        grid-row: 3;
        padding-top: $s-3;

        span {
            background: $_primary;
            border-radius: $s-3;
            padding: $s-2 $s-3;
            box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
        }

        //responsive
        @include media( "screen", ">minWidth", "<maxWidth" ){
            padding-top: ($p-2) * 3;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<maxWidth" ){
        width: 100%;
        grid-template-columns: 8% 40% 10% 35% auto;
    }

    @include media( "screen", ">minWidth", "<bp2Width") {
        display: block;
        width: 90%;
    }
}

article.memories {
    display: flex;
    margin: $m-auto;
    padding: ($p-5 * 2) 0 ($p-5 * 2) 0;
    width: 1024px;

    .text {
        width: calc(100% / 2);
        padding: 0 $s-3; 

        h2 {
            padding-top: $p-2;
        }

        p {
            margin-top: $s-3;   
        }
    }

    .end {
        text-align: end;
    }

    video {
        width: 100%;
    }

    .video-remember {
        width: calc(100% / 2);

        .shadow {
            box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
            width: 100%;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<maxWidth", ){
        width: 90%;
    }
}

section.wrapper-memories {
    width: $w-100;
}

section.wrapper-review {
    width: $w-100;
}

.wireframe {
    width: $w-100;

    img {
        width: $w-100;
    }
}

.wrapper-signUp {
    width: $w-100;

    .signUp {
        display: flex;
        margin: $m-auto;
        padding: 10rem 0;
        width: 1024px;

        .text-signUp {
            width: 50%;
        }
    
        .sign-up {
            border-radius: 20px;
            box-shadow: 4px 4px 10px rgba($color: $_black, $alpha: .25);
            margin: $m-auto;
            width: 35%;
        }

        //responsive
        @include media( "screen", ">minWidth", "<maxWidth", ){
            width: 100%;
        }
        
    }
}

.wrapper-img {
    padding-bottom: $s-4;
    text-align: center;

    p {
        font-size: $f-1;
    }

    p.font-size {
        font-size: $f-3;
    }

    svg {
        margin: $s-2 0;
        circle {
            fill: $_primary;
        }
    }

}

.wrapper-footer {
    bottom: 150px;
    display: flex;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 1024px;
    justify-content: space-evenly;

    .about {
        border-right: 1px solid $_white;
        padding: $s-2;
    
        p {
            margin-top: $s-3;
        }

        &:last-child {
            border: none;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<maxWidth", ){
        width: 100%;
    }
}

footer {
    background: $_black;
    color: $_white;
    height: 50vh;
    position: relative;
    width: $w-100;
    z-index: -1;
}