@mixin button-bg {
    //background: $_primary;
    border-radius: $s-3;
    //color: $_white;
    padding: $s-2 $s-3;
    box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
}

%width {
    width: $w-100;
}

nav {
    background: $_white;
    box-shadow: 5px 0 5px rgba($color: $_black, $alpha: .25);
    position: fixed;
    top: 0;
    width: $w-100;
    z-index: 2;
    

    //menu
    .wrapper-nav {
        align-items: center;
        display: flex;
        margin: $m-auto;
        padding: $s-1 $s-3;
        max-width: 1440px;

        // .switchlng{
        //     margin-left: 100px;
        // }

        .logo {
            width: 150px;

            a {
                width: 100%;
                display: inline-block;

                svg {
                    width: 140px;

                    .text-logo {
                        @include media( "screen", ">minWidth", "<bp3Width", ){
                            display: none;
                        }
                    }

                    @include media( "screen", ">minWidth", "<bp3Width", ){
                        width: 100px;
                    }

                }
            }
    
            @include media( "screen", ">minWidth", "<bp3Width", ){
                width: 50px;
            }
        }
        
        //button signUp
        .signUp {
            cursor: pointer;
            width: $w-80;
            text-align: end;
    
            span.button-bg {
                @include button-bg;
                text-align: center;
                width: 100px;
            }
        }

        @include media( "screen", ">minWidth", "<bp3Width", ){
            padding: .25rem .5rem;
        }
    }
}

//article
article.review {
    display: grid;
    grid-template-columns: 8% 20% 10% 10% 42% auto;
    grid-template-rows: 110px 89px 429px 100px;
    margin: $m-auto;
    max-width: 1024px;

    h1 {
        grid-column: 2/4;
        grid-row: 1;
        padding-top: $p-2;
    }

    .image {
        grid-column: 3/7;
        grid-row: 3;
        margin-top: $s-2;

        img {
            width: $w-100;
        }

        @include media( "screen", ">minWidth", "<bp2Width") {
            order: 3;
        }
    }

    .signUp {
        grid-column: 2/4;
        grid-row: 3;

        span.button-bg {
            @include button-bg;
            display: inline-block;
        }

        //responsive
        @include media( "screen", ">minWidth", "<bp1Width" ) {
            padding-top: $s-3;
        };

        // responsive min-mobile max-tablet
        @include media( "screen", ">minWidth", "<bp2Width") {
            order: 2;
            padding-bottom: $s-3;
        }
    }

    .wrapper-text {
        grid-column: 2/6;
        grid-row: 2;

        @include media( "screen", ">minWidth", "<bp2Width") {
            order: 2;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<maxWidth" ){
        width: 100%;
        grid-template-columns: 8% 40% 10% 35% auto;
    }

    // responsive min-mobile max-tablet
    @include media( "screen", ">minWidth", "<bp2Width") {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }
}

article.memories {
    display: flex;
    margin: $m-auto;
    padding: ($p-5 * 2) 0 ($p-5 * 2) 0;
    max-width: 1024px;

    .text {
        width: calc(100% / 2);
        padding: 0 $s-3; 

        h2 {
            padding-top: $p-2;
        }

        p {
            margin-top: $s-3;
            
            strong {
                color: $_primary;
            }
        }

        // responsive min-mobile max-tablet
        @include media( "screen", ">minWidth", "<bp2Width") {
            margin: $s-3 0;
            width: $w-90;
        }

    }

    // .memories:nth-child(2)
    .end {
        text-align: end;
    }

    video {
        width: $w-100;
    }

    .video-remember {
        width: calc($w-100 / 2);

        .shadow {
            box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
            width: $w-100;
        }

        // responsive min-mobile max-tablet
        @include media( "screen", ">minWidth", "<bp2Width") {
            width: $w-90;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<maxWidth", ){
        width: 90%;
    }

    // responsive min-mobile max-tablet
    @include media( "screen", ">minWidth", "<bp2Width", ){
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        text-align: justify;

        &:nth-child(2) {
            .text {
                margin: $s-3 0;
                order: 1;
                text-align: justify;
            }
            .video-remember {
                order: 2;
            }
        }

    }
}

footer {
    background: $_black;
    color: $_white;
    height: 50vh;
    position: relative;
    width: $w-100;
    z-index: -1;

    > p {
        align-items: center;
        bottom: $s-4;
        display: flex;
        position: fixed;
        left: $s-4;

        svg {
            fill: $_white;
            margin: 0 $s-1;
            width: 1rem;
        }

        @include media( "screen", ">minWidth", "<bp3Width", ){
            bottom: $s-3;
        }
    }

    //responsive
    @include media( "screen", ">minWidth", "<bp2Width", ){
       height: 80vh;
    }

    //responsive
    @include media( "screen", ">minWidth", "<bp3Width", ){
        height: 60vh;
     }
}

// section
section.wrapper-memories {
    @extend %width;
    background: $_white;
    padding-bottom: 20px;
}

section.wrapper-review {
    @extend %width;
    background: $_bg;
    margin-top: ($m-50) + 10;
}

//main container
.wireframe {
    background: $_white;
    width: $w-100;

    img {
        width: $w-100;
    }
}

.wrapper-img {
    padding-bottom: $s-4;
    text-align: center;

    p {
        font-size: $f-1;
    }

    p.font-size {
        font-size: $f-3;
    }

    svg {
        margin: $s-2 0;
        circle {
            fill: $_primary;
        }
    }

}

.wrapper-info {
    display: flex;
}

.wrapper-signUp {
    background: $_white;
    width: $w-100;

    .signUp {
        display: flex;
        margin: $m-auto;
        padding: 10rem 0;
        max-width: 1024px;

        .text-signUp {
            width: 50%;

            p {
                font-size: $f-1;

                strong {
                    color: $_primary;
                }
            }

            @include media( "screen", ">minWidth", "<bp2Width", ) {
                margin: $m-auto;
                text-align: center;
                margin-bottom: $s-3;
            }
        }
    
        .sign-up {
            border-radius: 20px;
            box-shadow: 4px 4px 10px rgba($color: $_black, $alpha: .25);
            margin: $m-auto;
            padding: $s-2;
            width: 50%;

            @include media( "screen", ">minWidth", "<bp2Width", ) {
                width: $w-100;
            }

        }

        //responsive
        @include media( "screen", ">minWidth", "<maxWidth", ){
            width: $w-90;
        }

        @include media( "screen", ">minWidth", "<bp2Width", ) {
            display: block;
        }
    }
}

.wrapper-footer {
    bottom: 0px;
    display: flex;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 90%;
    justify-content: space-evenly;

    .wrapper-about {
        border-right: 1px solid $_white;
        margin-left: $s-3;
        padding: $s-2;
        width: calc(100% / 3);
        
        p {
            font-size: .9rem;
            margin-top: $s-3;
            padding: $s-2;
        }

        &:last-child {
            border: none;
        }

        svg {
            fill: $_white;
            width: $w-2;
        }

        .about-info {
            align-items: baseline;
            display: flex;
        }
        //responsive
        @include media( "screen", ">minWidth", "<bp2Width", ){
            display: block;
            width: $w-90;
            border-right: none;
            border-bottom: 1px solid $_white;
        }
    }

    @include media( "screen", ">minWidth", "<bp2Width", ){
        bottom: -150px;
        display: block;
        width: $w-90;
    }

    //responsive
    @include media( "screen", ">minWidth", "<bp3Width", ){
        bottom: -70px;
        display: block;
        width: $w-90;
    }
}

.wrapper-about.social .about-info {

    @include media( "screen", ">minWidth", "<bp3Width", ){
        display: inline-flex;
        margin: $s-1 $m-50 0 0;
    }

    p {
        @include media( "screen", ">minWidth", "<bp3Width", ){
            display: none;
        }
    }
}