.wrapper-button {

    button {
        background: $_success;
        font-size: 14px;
        margin: 10px;
        overflow: hidden;
        padding: 10px;
        position: relative;
        z-index: 2;
    }
}

.wrapper-user {
    align-items: center;
    display: flex;
    margin: 200px auto 0;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    max-width: 1024px;

    %button-profile {
        cursor: pointer;
        border: 1px solid currentColor;
        border-radius: $s-1;
    }

    .delete {
        @extend %button-profile;
        background: $_delete;
        color: $_white;

        &:hover {
            background: $_dark-red;
        }
    }

    p {
        margin: $w-2 0;
    }

    .primary {
        @extend %button-profile;
        color: $_white;
    }

    .h2-user-name {
        font-size: 24px;
        margin-top: 2%;
      } 
    }