.sign-folders {
        
    .groups {
        background-color: $_primary;
        border: 0;
        border-radius: 2rem;
        box-shadow: 2px 2px 6px rgba($color: $_black, $alpha: .25);
        cursor: pointer;
        position: relative;
        padding: $s-2;
    }
}

.wrapper-folders {
    align-items: center;
    display: flex;
    margin: $m-auto;
    max-width: 1024px;
    padding: $s-2 $s-3;
    justify-content: space-between;

    .box {
    
        h6 {
            display: inline;
        }
    }

    .logo {
        img {
            width: ($w-6) * 2;
        }
    }

    .search-bar {
        margin-top: $m-10;
        width: $w-100;
    }

    .sign-folders {
        align-items: center;
        column-gap: $s-3;
        display: flex;
        justify-content: end;
    }
    
    .user {
        width: 30px;
    }

    .wrapper-search-bar {
        width: 530px;
        caret-color: $_dark;
    
        //responsive
        @include media( "screen", ">minWidth", "<maxWidth" ) {
            width: 300px;
        }
    
        @include media( "screen", ">minWidth", "<bp2Width" ) {
            width: 220px;
        }
    }
}

.wrapper-user-home {
    display: inline-block;
    width: 50px;
    a {
        display: inline-block;

        img.user {
            width: $w-100;
        }
    }
}