.wrapper-navb {
    align-items: center;
    display: flex;
    margin: $m-auto;
    padding: $s-2;
    width: 1024px;

    @mixin width {
        width: 25%;
        margin: $s-2;
    }

    .log {
        width: 13%;
        margin-right: 3%;

        img {
            width: ($w-6) * 2;

        }
    }

    .sign {
        width: 35%;
        text-align: end;
        display: flex;

        button {
            background-color: #dddcdc;
            border-radius: 2rem;
            margin-left: $m-50;
            border: 0 ;
            cursor: pointer;
            padding: 11% 13%;

        }
   
        h6{
            margin-top: 7px;
            text-align: left;
            margin-left: 5px;
        }

    }

    @include media("retina", ">minWidth", ">maxWidth") {
        width: $w-100;
    } 
}

.srcnav {
    width: 55%;
}
.bar {
    margin-top: $m-10;
    width: $w-100;
}

.wrapper-na .log {
    margin-top: $m-10;
    margin-left: $m-10;
}

.icong {
width: 30px;
}

.button-action {
    margin-top: 10px;
}

.hello-box {
    width: 40%;

}


.folders {
    margin-top: 10px;
}

.btt-grps {
    margin-top: 10px;
}

#button-profile{
    margin-left: 20px;
    margin-top: 5px;
}

.box {
    display: flex;
    margin-left: 20%;
}


#box-hello{
    margin-left: 190px;
}