// .mantine-1c4piau {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 5px;
// }

input[name="search"] {
    background: rgba($color: $_black, $alpha: .09);
    border: none;
    caret-color: $_white;
    color: $_white;

    &:hover {
        background: rgba($color: $_primary, $alpha: .8);
    }

    &::placeholder {
        padding-left: .15rem;
        color: $_white;
    }
}