.card {
    padding: $s-1;
    text-align: center;
}

.folderAddButton {
    margin: $w-5 auto;
    width: $w-90;

    span.folder {
        display: inline-block;

        img {
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.messageError {
    margin-top: 90px;
}

.slider {
    display: inline;
    height: $h-100;
    width: $w-100;

    p {
        color: $_primary;
    }
}

.wrapper-slider img {
    width: 80px;
}

.wrapper-slider {
    display: flex;
    gap: $w-1;
    flex-direction:row;
    flex-wrap: wrap;
    margin: $w-4 auto;
    row-gap: $s-3;
    justify-content: flex-start;
    width: $w-70;

    .wrapper-button {
        display: flex;
        flex-direction: column;
        row-gap: $s-2;
        margin-top: 10px;
        justify-content: space-around;

    }
}

@mixin button {
    border: 1px solid;
    border-radius: $s-1;
    cursor: pointer;
    overflow: hidden;
    padding: $s-1;
    position: relative;
}

.button-folder-edit {
    @include button;
    color: $_success;
    transition: color .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: 8s ease-in-out;
    -o-transition: 8s ease-in-out;

    &::before {
        background: $_success;
        color: $_success;
        content: '';
        display: inline-block;
        height: $h-100;
        position: absolute;
        left: -20px;
        transform: skewX(35deg);
        transition: .5s ease-in-out;
        transition: color .8s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        top: 0;
        width: 0;
        z-index: -1;
    }

    &:hover::before {
        width: 140%;
    }

    &:hover span {
        color: $_white;
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
    }
}

.button-folder-delete {
    @include button;
    border-color: currentColor;
    color: $_delete
}