@mixin button {
    border: 1px solid;
    border-radius: $s-1;
    cursor: pointer;
    overflow: hidden;
    padding: $s-1;
    position: relative;
}

main.wrapper-folder {
    width: $w-100;
    margin-top: ($m-50) * 2;
}

.button-folder-delete {
    @include button;
    border-color: currentColor;
    color: $_delete
}

.button-folder-edit {
    @include button;
    color: $_success;
    transition: color .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: 8s ease-in-out;
    -o-transition: 8s ease-in-out;
}

.card {
    padding: $s-1;
    text-align: center;
}

.folderAddButton {
    margin: $m-auto;
    max-width: 1024px;
    
    span.folder {
        display: inline-block;
        padding: $spacer;

        img {
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }

    @include media( "screen", ">minWidth", "<maxWidth" ){
        margin: $m-auto;
        width: $w-90;
    };
}

section.folder-gallery {
    margin: $m-auto;
    max-width: 1024px;

    @include media( "screen", ">minWidth", "<maxWidth" ){
        margin: $m-auto;
        width: $w-90;
    };
}

section.folder-list {
    margin-top: 10px;
    width: $w-100;
}

section.wrapper-folder {
    width: $w-100;
}

// .messageError {
//     margin-top: 90px;
// }

.slider {
    display: inline;
    height: $h-100;
    width: $w-100;

    p {
        color: $_primary;
    }
}

section.wrapper-slider {
    display: flex;
    gap: $w-1;
    flex-direction:row;
    flex-wrap: wrap;
    margin: $w-4 auto;
    max-width: 1024px;
    padding: 1rem;
    row-gap: $s-3;
    justify-content: flex-start;

    img {
        width: 80px;
    }

    .wrapper-button {
        display: flex;
        flex-direction: column;
        row-gap: $s-2;
        margin-top: 10px;
        justify-content: space-around;

    }
}