article.wrapper-folder {
    width: $w-100;
    margin-top: ($m-50) * 2;
}

button[name="confirm"] {
    background-color: $_primary;
    margin-top: 10px;

    &:hover {
        background: $_dark;
    }
}

.breadcrumbs {
    color: $_primary;
    text-decoration: none;

    &:hover a {
        text-decoration: none;
    }
}

.folderAddButton {
    align-items: center;
    backface-visibility: hidden;
    background: $_white;
    display: flex;
    margin: $m-auto;
    max-width: 1240px;
    padding: $spacer;
    justify-content: space-between;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    .fixed-folder-add-button {
        //position: fixed;
        display: flex;
        justify-content: space-between;
        width: 1024px;
        margin: $m-auto;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;

        .breadcrumbs {
            align-items: center;
            justify-content: space-between;
        }
        
        span.folder {
            color: $_white;
            cursor: pointer;
            background: $_primary;
            border-radius: $s-3;
            display: inline-block;
            padding: $s-2 $s-3;
    
            img {
                cursor: pointer;
                opacity: .8;
                width: $w-100;
    
                &:hover {
                    opacity: 1;
                }
            }
    
            p {
                color: $_primary;
                opacity: 0;
                transition: .5s ease-in-out;
                -webkit-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
            }
    
            &:hover p {
                opacity: 1;
                transition: .5s ease-in-out;
                -webkit-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
            }
        }
    }

    @include media( "screen", ">minWidth", "<maxWidth" ){
        margin: $m-auto;
        width: $w-90;
    };
}

.slider {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    width: 290px;
    color: #00D1E0;
    justify-content: space-between;

    img{
        width: 40px;
    }

    p {
        color: $_primary;
        margin:auto 20px ;

    }

    %custom-folder-icon {
        cursor: pointer;
        transition: .6s ease-in-out;
    }

    .button-folder-delete {
        @extend %custom-folder-icon;

        svg {
            fill: $_delete;

            &:hover {
                fill: $_dark-red;
            }
        }
    }
    
    .button-folder-edit {
        @extend %custom-folder-icon;
    
        svg {
            fill: $_primary;

            &:hover {
                fill: $_dark;
            }
        }
    }

    .wrapper-button-folder {
        display: flex;
        gap: $s-2;
        width: $w-5;
        opacity: 0;

        svg {
            width: $w-80;
        }
    }

    &:hover .wrapper-button-folder {
        opacity: 1;
    }
}

section.folder-gallery {
    margin: $m-auto;
    margin-top: 100px;
    max-width: 1024px;

    .back{
        position: fixed;
        right: 100px;
        top: 100px;
    }
    .infinite-scroll-component {
        overflow: unset !important;
    }

    @include media( "screen", ">minWidth", "<maxWidth" ){
        margin: $m-auto;
        width: $w-90;
    };
}

section.folder-list {
    margin-top: 10px;
    width: $w-100;
}

section.wrapper-folder {
    margin-top: ($m-50) + 20;
}

section.wrapper-slider {
    display: flex;
    gap: $w-1;
    flex-direction:row;
    flex-wrap: wrap;
    margin: $m-auto;
    max-width: 1224px;
    row-gap: $s-3;
    .flex-slider{
        display: flex;
    }

    .card {
        align-items: center;
        border-radius: $s-2;
        box-shadow: 0px 0px 9px rgba($color: $_black, $alpha: .25);
        display: flex;
        text-align: center;
        padding: .5rem;
        width: 290px;
        justify-content: space-between;

        %custom-folder-icon {
            cursor: pointer;
            opacity: 1;
            transition: .6s ease-in-out;
        }

        .button-folder-delete {
            // @include button;
            // background: $_delete;
            @extend %custom-folder-icon;

            svg {
                fill: $_delete;

                &:hover {
                    fill: $_dark-red;
                }
            }
        }
        
        .button-folder-edit {
            // @include button;
            //background: $_success;
            @extend %custom-folder-icon;
        
            svg {
                fill: $_primary;

                &:hover {
                    fill: $_dark;
                }
            }
        }

        .wrapper-button-folder {
            width: $w-3;
            opacity: 0;
    
            svg {
                width: $w-70;
            }
        }

        &:hover .wrapper-button-folder {
            opacity: 1;
        }
    }

    img {
        width: $w-4;
    }
}

.wrapper-icon-folder {
    align-items: center;
    display: flex;
    margin: $m-auto;
    max-width: 1224px;

    .icon-folder {
        align-items: center;
        display: flex;
        column-gap: 10px;
        max-width: 150px;
        padding-left: 0.7rem;

        span.add-icon-folder {
            display: inline-block;
            max-width: $w-4;
    
            svg {
                cursor: pointer;
                width: $w-100;
            }

            &:hover + span.add-folder {
                opacity: 1;
                transition: .6s ease-in-out;
            }
        }

        span.add-folder {
            opacity: 0;
            transition: .6s ease-in-out;
        }
    }

    .upload-in-folders {
        align-items: center;
        border-radius: $s-2;
        cursor: pointer;
        display:flex;
        gap: 10px;
        padding: $s-2;

        svg {
            background: $_primary;
            border-radius: $s-2;
            padding: $s-1;
            width: $w-4;

            path {
                fill: $_white;
            }

            &:hover + span.text-upload {
                opacity: 1;
                transition: .6s ease-in-out;
            }
        }

        span.text-upload {
            opacity: 0;
            transition: .6s ease-in-out;
        }


    }
}
