@mixin button-bg {
    background: $_primary;
    border-radius: $s-3;
    color: $_white;
    padding: $s-2 $s-3;
    box-shadow: 5px 5px 10px rgba($color: $_black, $alpha: .25);
}

.wrapper-navb {
    align-items: center;
    display: flex;
    margin: $m-auto;
    padding: $s-2;
    width: 1024px;

    @mixin width {
        width: 25%;
        margin: $s-2;
    }

    .log {
        img {
            width: ($w-6) * 2;

        }
    }

    .wrapper-sign {
        align-items: center;
        display: flex;
        column-gap: $s-3;
        text-align: end;
        justify-content: space-evenly;

        button {
            background-color: #dddcdc;
            border-radius: 2rem;
            margin-left: $m-50;
            border: 0 ;
            cursor: pointer;
            padding: 11% 13%;

        }

        @include media( "screen", ">minWidth", "<maxWidth" ) {
            gap: .5rem;
        }
    }

    @include media("retina", ">minWidth", ">maxWidth") {
        width: $w-100;
    }

    .button {
        @include button-bg;
    }
}

// .srcnav {
// }

.bar {
    margin-top: $m-10;
    width: $w-100;
}

.wrapper-na .log {
    margin-top: $m-10;
    margin-left: $m-10;
}

.icong {
width: 30px;
}

.button-action {
    margin-top: 10px;
}

// .hello-box {
//     width: 40%;

// }

#button-profile{
    margin-left: 20px;
    margin-top: 5px;
}


