/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 60px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
  
/* The slider */
.sliderr {
  background-color: rgb(187, 187, 187);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
}
  
.sliderr:before {
  background-color: $_white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  -webkit-transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(187, 187, 187);

    .lngtext {
        margin-left: -30px;
    }
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(227, 227, 227);
}
  
input:checked +  .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(30px);
    transform: translateX(26px);
    // background-image: url("../../images/britishFlag_small.svg");
    background-color: white;
}
  
/* Rounded sliders */
.sliderr.round {
  border-radius: 34px;
}
  
.sliderr.round:before {
  border-radius: 50%;
}

  
.check {
  width: 26px;
}

.lngtext {
  margin-left: 30px;
}

.switch-box {
  display: flex;

  .switch-img {
      
    img {
      margin-left: 10px;
      margin-top: 5px;
      width: 26px;
    }
  }

}

span.img-languages {
  cursor: pointer;
  display: inline-block;
  margin-right: $s-3;
  position: relative;
  top: -7px;
  width: ($w-2) + 5;

  img {
    width: $w-100;
  }
}

// .switch-box {
//   // qui e riferito a ìl tag .switch-box
//   // width: 100%
//   .switch-img {
//     //classe switch-img
//   }
// }