/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: rgb(187, 187, 187);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    // background-image: url("../../images/italianFlag_small.svg");
    background-color: white;
  }
  
  input:checked + .slider {
    background-color: rgb(187, 187, 187);
    .lngtext {
        margin-left: -30px;
    }
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(227, 227, 227);
  }
  
  input:checked +  .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(30px);
    transform: translateX(26px);
    // background-image: url("../../images/britishFlag_small.svg");
    background-color: white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;

 
 }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  .check {
    width: 26px;
}

.lngtext {
    margin-left: 30px;
}
 .switch-box {
  display: flex;
  .switch-img {
    
    img {
      width: 26px;
      margin-top: 5px;
      margin-left: 10px;

    }
   }

 }

