/* The switch - the box around the slider */

// .switch {
//   display: inline-block;
//   margin-left: 10px;
//   margin-left: 122px;
//   position: relative;
//   top: -9.5px;
// }
  

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .switch {
      top: 0;
  }
}

@-moz-document url-prefix() {
  .switch{
      top: -9.5px;
  }
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
  
  /* The slider */
  .sliderr {
   display: inline-block;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: rgb(230, 230, 230);
  }
  
  .sliderr:before {
    content: "";
    height: 22px;
    width: 72px;
    bottom: 4px;
    transition: 0.4s;
    background-color: transparent;
  }
  
  input:checked + .sliderr {
    background-color: rgb(230, 230, 230);
    .language-box {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
}
  
  input:focus + .sliderr {
    box-shadow: 0 0 1px rgb(227, 227, 227);
}
  
  input:checked +  .sliderr:before {
    -webkit-transform: translateX(58px);
    -ms-transform: translateX(58px);
    transform: translateX(58px);
    // background-image: url("../../images/britishFlag_small.svg");
    background-color: trasparent;
  }
  
  /* Rounded sliders */
  .sliderr.round {
    display: inline-block;
    border-radius: 34px;
    width: 140px;
    height: 30px;

 }
  
  .sliderr.round:before {
    border-radius: 50px;
  }

  
.check {
  width: 26px;
}

.lngtext {
  margin-left: 2px;
  font-size: 12px;
  margin-right:  2px;
  width: 66px;
  text-align: center;
  margin-left: 8px;
  background-color: white;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -2px;
}

 .switch-box {
  // display: flex;

  .switch-img {
    display: flex;
    
    img {
      width: 26px;
      margin-top: 2px;
      margin-left: 10px;
      margin-top: 5px;
      width: 26px;
    }
  }

}

span.img-languages {
  cursor: pointer;
  display: inline-block;
  margin-right: $s-3;
  position: relative;
  top: -7px;
  width: ($w-2) + 5;

  img {
    width: $w-100;
  }
}

input:checked + .sliderr .lngtext {
  margin-left: 2px;
  margin-right: 5px;
  font-size: 12px;
  width: 66px;
  text-align: center;
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

input:checked + .sliderr .lngtitle {
  margin-left: 2px;
  width: 66px;
  text-align: center;
  font-size: 12px;
  margin-right:  2px;
}

.lngtitle {
  margin-left: 2px;
  width: 66px;
  text-align: center;
  font-size: 12px;
  margin-right:  2px;
}

.language-box {
  display: flex;
  margin-top: 8px;
}
