.info-external-box {
    background: $_white;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    width: $w-50;
}

.exit-button-box {
    border-radius: 0 20px 0 0;
    height: 10%;
    width: 100%;
}

.tag-box {
    height: 40%;
    text-align: center;
}

.description-box {
    height: 60%;
    margin: 0;
    text-align: center;
    width: $w-100;
}

.external-button-box {
    display: flex;
    height: 10%;
    width: $w-100;
}

.button-box {
    border-radius: 0  0 20px 0;
    height: $h-100;
    width: $w-50;
}

.button-box-sx {
    height: $h-100;
    width: $w-50;
}

.gutter-box {
    height: 15%;
    width: $w-100;
}

.exit-button {
    background-color: transparent;
    border: 0;
    margin-left: 92%;
    margin-top: 2%;
}

.text-box {
    background-color: rgb(236, 233, 233);
    border-radius: 20px;
    height: 90%;
    margin-left: 2%;
    width: 96%;
}

.title-box {
    background: rgb(225, 224, 224);
    border-radius: 20px 20px 0 0;
    padding: 1%;
}

.button-action {
    background: $_primary;
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    font-size: 16px;
    margin-left: 34%;
    padding: $s-2 $s-4;
}