.mantine-fcqk6d {
    max-width: 1400px;
}

.mantine-hrotsr {
    height: 200px;
}

.mantine-tg54o7 {
    height: 416px;
}

.box {
    height: 420px;
}

.box {
    height: 418px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.smalbox {
    margin-top: 18px;
}
