.box-gallery-home {
    position: relative;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    //role for safari to fixed overflow:hidden
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);


    span.title-tags {
        bottom: 20px;
        color: $_white;
        left: 20px;
        mix-blend-mode: unset;
        opacity: 0;
        position: absolute;
        z-index: 99;
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    &:hover span.title-tags {
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        opacity: 1;
    }

    img {
        cursor: pointer;
        transition: .6s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    &:hover img {
        transition: .6s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        transform: scale(1.2);
        -webkit-transform: scale(1.08);
    }


    &::after {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(255,255,255,0) 100%);
        bottom: 0;
        content: '';
        display: inline-block;
        height: 10%;
        width: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: .6s ease-in-out;
        -webkit-transition: .6s ease-in-out;
    }

    &:hover::after {
        opacity: .5;
        transition: .6s ease-in-out;
        -webkit-transition: .6s ease-in-out;
    }
}

// .mantine-l0ham1{
//     margin-top: -100px;
//     width: auto;
//     border-radius: 20px;
 
//   }

// .mantine-20iurd{
//     overflow:unset;
//     height: 500x;
//     height: 600px;
// }
// .mantine-l0ham1{
//     margin-top: 0;
// }
// .mantine-16pg774{
//     top: unset;

// }