.wrapper-avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-width {
    background: $_dark-blue;
    border: none;
    border-radius: $s-2;
    cursor: pointer;
    margin: 10px;
    width: calc(100% / 3);
}

.wrapper-info {
    display: flex;
    justify-content: space-between;

    .change-width {
        width: 40%;
    }
}