input[label="Email"] {
    display: block;
    margin-bottom: $s-2;
    width: $w-100;
}


label {
    display: block;
    font-size: 14px;
    margin-bottom: $s-2;

    span {
        color: red;
    } 
}

input {
    border: 1px solid $_input;
    border-radius: 4px;
    outline: none;
    padding: $s-2;

    &::placeholder {
        color: $_input;
    }
}

.wrapper-input {
    display: flex;
}

.text-align {
    text-align: end;
}

.input-flex {
    margin-bottom: $s-2;
    width: $w-50;

    input {
        display: inline;
        width: $w-90;
    }
}

.mantine-ncrsdl {
    width: 100%;
    max-width: 300px !important;
}