.wrapper-info {
    display: flex;
    justify-content: space-between;

    .change-width {
        width: 40%;
    }
}

.custom-avatars {
    background: $_dark-blue;
    border: none;
    border-radius: $s-2;
    cursor: pointer;
    margin: 10px;
    width: calc(100% / 5);
}

form.form-sign-up {
    .reset-avatar {
        display: block;
        margin: $s-3 auto;
    }

    input[name="reset-input-signup"] {
        height: 33px;
    }

    .email {
        input[type="text"] {
            margin-top: 0;
        }
    }
}