.mantine-164y8ej {
    height: 22px;
}

.mantine-ncrsdl {
    max-width: 470px;
}


form {
    .mantine-1i843xg {
        margin: 0 auto;
    }
    
    .mantine-1grzg0q {
        display: block;
        margin: $s-3 auto !important;
    }
}


// .mantine-1ok1cy2 {
// }