/*
 * reset ::placeholder sign up
 */
.sign-up .mantine-164y8ej {
    height: 16px;
}

.mantine-144aj37.mantine-Modal-inner input[type="password"] {
    height: 18px;
}

.mantine-ncrsdl {
    max-width: 470px;
}

form {

    .mantine-1i843xg {
        margin: 0 auto;
    }
    
    .mantine-1grzg0q {
        display: block;
        margin: $s-3 auto !important;
    }
}

.mantine-144aj37.mantine-Modal-inner{
    top: 100px;
}

.mantine-1i843xg {
    margin: $w-1 auto;
}

.mantine-1grzg0q {
    display: block;
    margin: 0 auto !important;
}

/*
 * reset div choose avatar sign up
 */
.mantine-Paper-root.mantine-Modal-modal.mantine-vos779 {
    margin-top: 50px;
    width: 720px;
}

.mantine-ncrsdl input#mantine-ejpi5xg04 {
    height: 19px;
}