// import font "outline" website
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $_white;
    text-decoration: none;
}

body {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


$font-size: (
    "h1": 26px,
    "h2": 24px,
    "h3": 22px,
    "h4": 20px,
    "h5": 18px,
    "h6": 16px,
);

@each $key, $val in $font-size {
    #{$key} {
        font-size: $val
    }
}

//color primary website
.primary {
    background: $_primary !important;

    &:hover {
        background: $_dark !important;
    }
}