// import font "outline" website
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $_white;
    text-decoration: none;
}

body {
    font-family: 'Outfit', sans-serif;
}
