.mantine-1fjdtzo {
    background-color: $_primary;;
}

.mantine-1fjdtzo:hover {
    background-color: #008993;
}

.mantine-wrytn4 {
    height: 50px;
    border: 2px solid #bababa;
}

.mantine-1c4piau {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
}
