//import global style
@import '../src/style/style.scss';

.PageHeading { color:blue; background-color: lightgreen; margin-top: 20px; } .Pagebody { color:blue; background-color: lightgreen; margin-top: 20px; } .lbl{ text-align: right; color: blue; }