.group-box {
    margin-top: ($m-50) * 2;
    padding: 0 $s-2;
    width: $w-100;

    .group-avatar {
        margin: $s-3 auto;
    }

.wrapper-grid {

    //responsive grid group
    @include media( "screen", ">minWidth", "<bp2Width" ){
        display: block;
    };
    justify-items: center;
    row-gap: 40px;

    .paper-groups{
        border-radius: 1.5rem;
        box-shadow: 8px 8px 15px rgb(171, 171, 171);
        border: 2px solid rgb(236, 236, 236);
        height: 150px;
        align-self: flex-end;
        .button-groups-action{
            display: flex;
            justify-content: center;
            column-gap: 10px;
            button{
                border-radius: 50px;
                background-color: $_primary;
            }
            button:hover{
                background-color: $_primary;
            }
      
        }
        .txt-group{
            margin-bottom: 20px;
            border-radius: 1.5rem 1.5rem 0 0;
            font-size: 14px;
            margin-top: 5px;

        }
    }
}

.wrapper-group {
    box-shadow: 8px 8px 15px rgb(171, 171, 171);
    border: 2px solid rgb(174, 174, 174);
    border-radius: 1.5rem;
    margin: $s-3 auto;
    padding: $s-3;
    max-width: 340px;
    padding-top: 1rem;
    @include media( "screen", ">minWidth", "<bp2Width" ){
        max-width: $w-100;
    };
    .txt-imput-box-groups{
        display: flex;
        align-items: center;
    }

    p{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    button{
        background-color: transparent;
        width: 24%;
        position: relative;
        top: 14px;
    }
    button:hover{
        background-color: transparent;
    }
    .txt-input{
        width: 75%;
    }
}

}

.p0 {
    padding: 0;
}

.mb-2 {
    margin-bottom: $s-3;
}