section.wrapper-group-details {
  margin: ($m-50 * 2) auto;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

table.wrapper-table {
  display: block;
  width: 45%;
  h3{
    margin-top: 30px;
  }

  tbody {
    border: 1px solid $_dark;
    border-radius: $s-2;
    display: inline-block;
    padding: $s-1;
    width: 100%;
    margin-top: 10px;
    box-shadow: 7px 7px 15px rgb(198, 198, 198);
    overflow: scroll;
    overflow-x: hidden;
    tr {
      display: block;
      padding: $s-2;

      td {
        display: flex;
        justify-content: space-between;
        button{
          border-radius: 50px;
          height: 28px;
          width: 80px;
        }
      }
    }
  }
}
.box-src-group{
  display: flex;
  flex-direction: column;
  width: 45%;
  
  .searchText {
    margin: $s-2 0;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  ul{
    overflow: scroll;
    height: 430px;
    overflow-x: hidden;
    box-shadow: 8px 8px 15px rgb(221, 221, 221);
    border-radius: 0 0 20px 20px;
    border: 1px solid rgb(228, 228, 228);
    li{
      display: flex;
      margin-top: 12px;
      color: gray;
      justify-content: space-between;
      span{
       display: flex;
      }
      p{
        color: rgb(0, 0, 0);
        margin-right: 10px;
        font-size: 18px;
        
      }
    }
    button{
        background-color: transparent;
        padding: 0;
        margin-top: -4px;
        height: 35px;
        width: 35px;
       span{
        font-size: 15px;
        padding: 0 2px;
       }
    }
    button:hover{
      background-color: transparent;
    }
  
  }
}
.back{
  height: 50px;
  width: 100%;
  text-align: end;
  margin-top: 35px;

  span{
    padding: 0.45rem 0.8rem;
    display: inline-block;
    background-color: #00D1E0;
    border: 0;
    border-radius: 2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 18px;
    text-align: center;
  }
}